@charset "UTF-8";
/* CSS Document */
body,html{
	height:100%;
		font-family: sans-serif;
	color: #2b2b2b;
		font-size: 100%; /* 18px */
	line-height: 2em;

}

header, nav, section, footer {
	display: block;
	}

img	{
	max-width:100%;
	}
a img {border: 0px;
}

.canteenhero{
	width: 100%;
}
/* navigation*/
nav ul	{
	list-style-type: none; 
	padding: 0 0 2% 0;
	text-align: center;
	}
	
nav ul li	{
	display: inline;
	}

nav ul li a {
	text-transform: uppercase; 
	text-decoration: none;
	padding: 0 2.5%;
	color: #2b2b2b;
	}
	
nav ul li a:hover	{
	color: #a5bc63;
}
/*Collapse navigation*/	
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
	
nav a#pull {
	display: none;
}


.hero-image{
	background-image:url(../images/canteen.jpg);
    background-size: 100%;
	background-repeat: no-repeat;
	height:65%;
}


#logo {
	margin:auto;
	display:block;
	width:300px;
	
	
}



footer	{
	background-color: #dcdcdc;
	clear:both;
	text-align: right;
	}
	
footer ul	{
	list-style-type: none;
	}
	
footer  ul li	{
	display: inline;
	}

footer  ul li a {
	text-decoration: none;
	padding: 0 3%;
	}
/***rowandcolumn**/
.row	{
	/*background-color: green;*/
	width:80%;
	height:100%;
	margin:0% auto;
	}
	
	
.column {
	/*background-color: blue;*/
	width:32.203389830508%; /*380px divide 1180px x 100 */
	float:left;
	padding: 0px 1.694915254237% 1.694915254237% 0; /* 20px divide 1180px x 100 */
}

.column:last-child{
	padding: 0 0 1.69491525437% 0;
}

.columnpersonal{
	width: 100%;
}

.columnlocal{
	width: 100%;
}

.grounds{
	width: 90%;
	height:90%;
}

.oldmap{
	width:95%;
	height:95%;
}

.tudindex{
	width:140%;
}

.horticulture{
	height:140%;
	padding-top: 8%;
}

.mushroom{
	padding-top: 5%;
}

.stjohn{
	padding-top: 8%;
	width:20%;
}

.litchen{
	padding-top: 7%;
}

h1{
	text-align: center;
	color:#a5bc63;
	font-size: 2.66666666666667em; /* 48px / 18px */
	padding: 0.6em 0;
}

h2	{
	
	font-size: 2em; /* 36px / 18px */
	padding: 0.6em 0;
	}




.historyp{
	text-align: center;
}

/****slidedown**/
.container {
  position: relative;
  width: 50%;
	padding-left: 25%;
}

.historyitb {
  display: block;
  width: 200%;
  height: auto;
	padding-bottom: 2%;
}

.overlay {
  position:relative;
  bottom: 0;
  left: 25%;
  right: 0;
  background-color: #a5bc63;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
	width: 50%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/***slidebottom**/
.container {
  position: relative;
  width: 50%;
}

.historyitb {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/***slidefin**/




/*sidebar start*/
.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 241px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #a5bc63;
  display: block;
}

.sidenav a:hover {
  color: #2196F3;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  padding: 0px 10px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*sidebar end*/


/*fade in conatiner*/
.fadeincontainer {
  position: relative;
  width: 100%;
}

.imagefade {
  display: block;
  width: 100%;
  height: auto;
}

.overlayfade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.fadeincontainer:hover .overlayfade {
  opacity: 0.7;
}

.textfade {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.ecop{
	text-align: center;
}

@media (min-width:320px) and (max-width:736px) {
	nav ul {
		display: none;
		height: auto;
	}
	
	nav ul li {
		display: block;
		padding: 5px 0;
		border-top: dotted 1px #2b2b2b;
	}
	
	nav a#pull {
		display: block;
		color: #2b2b2b;
		text-decoration: none;
		text-transform: uppercase;
		background-color: #f1f1f1;
		border-top: dotted 1px #2b2b2b;
		border-bottom: dotted 1px #2b2b2b;
		height: 20px;
		padding: 10px;
		text-align: left;
		position: relative;
		margin: 0 0 10px 0;
	}
	
	nav a#pull:after {
		content:"";
		background: url(../images/nav-icon.png) no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 25px;
		top: 10px;
	}
	
	.column {
	width:100%;
	}
	
.column img{
		width:50%;
		height: 50%;
	}	
}

/****** Tablet */
@media (min-width:768px) and (max-width: 1024px){
	header,.row{
		/*background-color: yellow;*/
		width:90%;
	}
	.column img {
		display:none;
	}


}

.personalpara{
	text-align: center;
}

.avatar{  vertical-align: middle;
  width: 60%;
  height: 50%;
  border-radius: 10%;
}

.video{
	width: 100%;
}

.localpara{
	text-align: center;
}

/* Style the Image Used to Trigger the Modal */
#myImg{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*modal 1916 bombing*/
#modaltwo {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#modaltwo:hover {opacity: 0.7;}

/* The Modal (background) */
.modalfour {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentone {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#captionone {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-contentone, #captionone {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.closeone {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeone:hover,
.closeone:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-contentone {
    width: 100%;
  }
}


/*itb built modal*/
#thirdimage {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#thirdimage:hover {opacity: 0.7;}

/* The Modal (background) */
.imagefive {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contenttwo {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#captiontwo {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-contenttwo, #captiontwo {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.closetwo {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closetwo:hover,
.closetwo:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-contenttwo {
    width: 100%;
  }
}

/*blanchimage*/
#blanchimage {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#blanchimage:hover {opacity: 0.7;}

/* The Modal (background) */
.blanchfive {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentthree {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#captionthree {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-contentthree, #captionthree {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.closethree {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closethree:hover,
.closethree:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-contentthree {
    width: 100%;
  }
}